:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, 
body, 
* {
    margin: 0;
    padding: 0;
    outline: 0px solid blue;
}

.summary.magician-mode { 
    background-image: url("aset/bg-game.png"); 
}

.summary.alter-mode { 
    background-image: url("aset/alter-bg.png"); 
}

#app {
    height: 100vh;
}

.title {
    margin-top: 10px;
}

#inGame,
#result {
    margin-left: 10px;
}

.summary {
    background-image: url("aset/bg-game.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid rgb(0, 0, 0); 
    width: 1000px;
    height: 400px;
    transition: 
    background-image 4s ease; 
}

.hpbar-container {
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    justify-content: center;
}

.hpbar {
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: width 1s ease-in-out;
}

#playerhpbar {
    background-color: blue;
    border: 2px solid black;
}

#bothpbar {
    background-color: red;
    border: 2px solid black;
}

.games {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0); 
    width: 1000px;
    height: 150px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

.skill {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
}

.skill-icon {
    width: 90px;
    height: 90px;
    object-fit: contain;
}
.skill.fire { background-color: crimson; }
.skill.wind { background-color: mediumseagreen; }
.skill.water { background-color: dodgerblue; }
.skill.earth { background-color: sienna; }
.skill.rea { background-color:powderblue; }
.skill.ilu { background-color: violet; }
.skill.dre { background-color: teal; }


.skill:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.title {
    text-align: center;
}
